In [2]:
import numpy as np
import pandas as pd
import yfinance as yf

data = yf.download("^FTSE", start="2023-01-01", end="2024-12-31")
data.head()

C:\Users\biboz\AppData\Local\Temp\ipykernel_12568\1716517719.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download("^FTSE", start="2023-01-01", end="2024-12-31")
[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open     Volume
Ticker            ^FTSE        ^FTSE        ^FTSE        ^FTSE      ^FTSE
Date
2023-01-03  7554.100098  7626.399902  7448.700195  7451.700195  914070400
2023-01-04  7585.200195  7609.299805  7545.200195  7554.100098  753877000
2023-01-05  7633.500000  7658.799805  7564.700195  7585.200195  883850800
2023-01-06  7699.500000  7700.799805  7633.500000  7633.500000  813538800
2023-01-09  7724.899902  7725.700195  7688.700195  7699.500000  847858600